@font-face {
  font-family: "iconfont"; /* Project id 4259534 */
  src: url('iconfont.woff2?t=1695125829779') format('woff2'),
       url('iconfont.woff?t=1695125829779') format('woff'),
       url('iconfont.ttf?t=1695125829779') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check-circle:before {
  content: "\e77d";
}

.icon-meh:before {
  content: "\e780";
}

.icon-smile:before {
  content: "\e783";
}

.icon-earth:before {
  content: "\e781";
}

.icon-like:before {
  content: "\e7c8";
}

.icon-car:before {
  content: "\e7d7";
}

.icon-monitor:before {
  content: "\e7e2";
}

.icon-play-circle-fill:before {
  content: "\e847";
}

.icon-like-fill:before {
  content: "\e869";
}

.icon-apple:before {
  content: "\e87e";
}

